import init.bt.vendor.rc

on post-fs
    mkdir /factory/bt
    chown system bluetooth /factory/bt
    chmod 0770 /factory/bt
    start bd_prov

on boot
    wait /factory/bt/bd_addr.conf 1
    chmod 0644 /factory/bt/bd_addr.conf
    setprop ro.bt.bdaddr_path "/factory/bt/bd_addr.conf"

service dhcpcd_bnep0 /system/bin/logwrapper /system/bin/dhcpcd -ABKL
    class main
    group bluetooth wifi system dhcp
    disabled
    oneshot

service iprenew_bnep0 /system/bin/logwrapper /system/bin/dhcpcd -n
    group bluetooth system dhcp
    disabled
    oneshot

service bd_prov /system/bin/bd_prov
    class core
    user system
    group system bluetooth security
    disabled
    oneshot
