########################################################
#  BLUETOOTH CONFIGURATION - BROADCOM SPECIFIC
########################################################

on init
    chmod 0660 /dev/ttyMFD0
    chown bluetooth bluetooth /dev/ttyMFD0
    insmod /lib/modules/bcm_bt_lpm.ko
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0660 /dev/rfkill
    chown bluetooth bluetooth /dev/rfkill
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type

on post-fs
    chown bluetooth bluetooth /sys/devices/pci0000:00/0000:00:05.0/power/control
    chmod 0660 /sys/devices/pci0000:00/0000:00:05.0/power/control
